<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maison d'Hôte</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="../css/style.css">
      <!--website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
      <nav class="#4e342e brown darken-3">
        <div class="nav-wrapper">
          <a href="../index.html" class="brand-logo"><img class="logo"src="../image/HI.png"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down ">
            <li><a href="maison.html">Maison</a></li>
            <li><a href="region.html">Region</a></li>
            <li><a href="formulaire.html">Formulaire</a></li>
            <li><a href="#!">About</a></li>
          </ul>
          <ul id="mobile-demo" class="side-nav #4e342e brown darken-3">
            <li><a class="white-text" href="maison.html">Maison</a></li>
            <li><a class="white-text" href="region.html">Region</a></li>
            <li><a class="white-text" href="formulaire.html">Formulaire</a></li>
            <li><a class="white-text" href="#!">About</a></li>
          </ul>
        </div>
      </nav>
      <div class="parallax-container">
        <div class="parallax hide-on-med-and-down"><img src="../image/facade.jpg"></div>
        <div class="row">
          <div class=" col s8 offset-s2 col m6 offset-m3 col l4   darken-text #bcaaa4 brown lighten-3 ">
                <h5>Qu'est-ce que le Lorem Ipsum?</h5>
                <img class="responsive-img "  src="../image/bed.jpg" >
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la</p>

          </div>

          <div class=" col s8 offset-s2 col m6 offset-m3 col l4   darken-text #bcaaa4 brown lighten-3 ">
                <h5>Qu'est-ce que le Lorem Ipsum?</h5>
                <img class="responsive-img "  src="../image/coucher.jpg" >
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la</p>
          </div>
          <div class=" col s8 offset-s2 col m6 offset-m3 col l4   darken-text #bcaaa4 brown lighten-3">

                <h5>Qu'est-ce que le Lorem Ipsum?</h5>
                <img class="responsive-img "  src="../image/merci.jpg" >
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la</p>

          </div>

        </div>

      </div>

    </main>
    <footer class="page-footer #4e342e brown darken-3">
      <div class="container">
        <div class="row">
            <div class="col l6 s12 col m6 offset-m0">
              <h5 class="white-text">A propos</h5>
                <p class="grey-text text-lighten-4"></p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Formulaire</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12 col m6 offset-m0">
              <h5 class="white-text">Event</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Formulaire</a></li>

                </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
             © 2014 Copyright Text | <a href="mention.html">Mention légales</a>
          </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script type="text/javascript" src="../js/maison.js"></script>
     <script type="text/javascript" src="../js/materialize.min.js"></script>
  </body>
</html>
