<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maison d'Hôte</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="../css/style.css">

      <!--website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
      <nav class="#4e342e brown darken-3 ">
        <div class="nav-wrapper">
          <a href="../index.html" class="brand-logo"><img class="logo"src="../image/HI.png"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down ">
            <li><a href="maison.html">Maison</a></li>
            <li><a href="region.html">Region</a></li>
            <li><a href="formulaire.html">Formulaire</a></li>
            <li><a href="#!">About</a></li>
          </ul>
          <ul id="mobile-demo" class="side-nav #4e342e brown darken-3">
            <li><a class="white-text" href="maison.html">Maison</a></li>
            <li><a class="white-text" href="region.html">Region</a></li>
            <li><a class="white-text" href="formulaire.html">Formulaire</a></li>
            <li><a class="white-text" href="#!">About</a></li>
          </ul>
        </div>
      </nav>
      <div class="mention col s10 offset-s2">


<h1>Nos mentions légales</h1>

<p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>
<p>Editeur du site</p>
<p>Site Internet Qualité</p>
<p>par Natural-net</p>
<p>49 boulevard Antoine Gautier</p>
<p>33000 Bordeaux</p>
<p>France</p>
<p>Tél. : + 33 (0)6 62 79 25 55</p>
<p>Fax : + 33 (0)5 40 00 02 66</p>
<p>https://www.site-internet-qualite.fr</p>

<p>Natural-net est une EURL au capital de 3500€</p>
<p>RCS B 497 553 71 - Siret : 49755371900020 - APE : 6201Z</p>
<p>N° déclaration CNIL : 1522193</p>

<p>Conditions d'utilisation</p>
<p>Le site accessible par les url suivants : www.site-internet-qualite.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Natural-net.</p>
<p>Natural-net ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</p>
<p>Responsable éditorial</p>
<p>Eric Emery</p>
<p>Site Internet Qualité</p>
<p>par Natural-net</p>
<p>49 boulevard Antoine Gautier</p>
<p>33000 Bordeaux</p>
<p>France</p>
<p>Tél. : + 33 (0)6 62 79 25 55</p>
<p>Fax : + 33 (0)5 40 00 02 66</p>
<p>http://www.site-internet-qualite.fr</p>
</div>
</main>


<footer class="page-footer #4e342e brown darken-3">
  <div class="container">
    <div class="row">
        <div class="col l6 s12 col m6 offset-m0">
          <h5 class="white-text">A propos</h5>
            <p class="grey-text text-lighten-4"></p>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Formulaire</a></li>
            </ul>
        </div>
        <div class="col l4 offset-l2 s12 col m6 offset-m0">
          <h5 class="white-text">Event</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Formulaire</a></li>

            </ul>
        </div>
    </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
         © 2014 Copyright Text | <a href="mention.html">Mention légales</a>
      </div>
    </div>
</footer>


<!--Import jQuery before materialize.js-->
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 <script type="text/javascript" src="../js/materialize.min.js"></script>
</body>
</html>
