<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maison d'Hôte</title>
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="../css/style.css">

      <!--website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <main>
      <nav class="#4e342e brown darken-3 ">
        <div class="nav-wrapper">
          <a href="../index.html" class="brand-logo"><img class="logo"src="../image/HI.png"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down ">
            <li><a href="maison.html">Maison</a></li>
            <li><a href="region.html">Region</a></li>
            <li><a href="formulaire.html">Contact</a></li>
            <li><a href="#!">About</a></li>
          </ul>
          <ul id="mobile-demo" class="side-nav #4e342e brown darken-3">
            <li><a class="white-text" href="maison.html">Maison</a></li>
            <li><a class="white-text" href="region.html">Region</a></li>
            <li><a class="white-text" href="formulaire.html">Formulaire</a></li>
            <li><a class="white-text" href="#!">About</a></li>
          </ul>
        </div>
      </nav>
      <div class="description">
        <div class="row">
          <h1 class="col s10 offset-s2  col m8 offset-m2 col l4 offset-l4   brown-text ">Punta-cana</h1>
        </div>
        <div class="row">
          <p class="col s8 offset-s2   brown-text ">Punta Cana est une ville de République dominicaine située dans la province de La Altagracia,
             à l'extrémité orientale du pays dont elle est la principale station balnéaire.
             Elle est peuplée d'environ 50 000 habitants.
           </p>
        </div>

      </div>

      <div class="carousel">
        <a class="carousel-item" href="#one!"><img class="responsive-img" src="../image/punta-cuna.jpg"></a>
        <a class="carousel-item" href="#two!"><img class="responsive-img" src="../image/enfant.jpg"></a>
        <a class="carousel-item" href="#three!"><img class="responsive-img" src="../image/top.jpg"></a>
        <a class="carousel-item" href="#four!"><img class="responsive-img" src="../image/plaisir.png"></a>
        <a class="carousel-item" href="#five!"><img class="responsive-img" src="../image/formidable.jpg"></a>
      </div>



    </main>


    <footer class="page-footer #4e342e brown darken-3">
      <div class="container">
        <div class="row">
            <div class="col l6 s12 col m6 offset-m0">
              <h5 class="white-text">A propos</h5>
                <p class="grey-text text-lighten-4"></p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12 col m6 offset-m0">
              <h5 class="white-text">Event</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>

                </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
             © 2014 Copyright Text | <a href="mention.html">Mention légales</a>
          </div>
        </div>
    </footer>


    <!--Import jQuery before materialize.js-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script type="text/javascript" src="../js/region.js"></script>
     <script type="text/javascript" src="../js/materialize.min.js"></script>
  </body>
</html>
